body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
  gap: 10px;
  align-content: center;
  justify-content: center;
}

.header {
  display: flex;
  box-shadow: 0 5px 8px rgba(19, 18, 18, 0.418);
  align-items: center;
  line-height: 80px;
  justify-content: center;
}

.header-text {
  animation: slideIn 2s ease-out;
  font-size: 35px;
  height: 100%;
}

@keyframes slideIn {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(0px);
  }
}

.product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(19, 18, 18, 0.418);
  padding: 20px;
  margin: 0 0 20px;
  width: 30%;
  transition: 1s border ease-in, 500ms transform ease-out;
}

.product-card:hover {
  border: 1px solid grey;
  transform: scale(1.01);
}

.product-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.product-name {
  text-align: center;
  font-size: 22px;
  margin-top: 25px;
}

.product-description {
  text-align: justify;
}

.product-price {
  margin: auto 0 0;
  align-self: flex-start;
  font-size: 20px;
}

button {
  margin: 10px 0 0;
  border-radius: 8px;
  background-color: rgba(228, 196, 83, 0.467);
  align-self: flex-start;
  padding: 5px;
  border-color: rgba(228, 196, 83, 0.467);
}

button:hover {
  background-color: rgba(228, 243, 67, 0.232);
  border: 1px solid rgba(69, 68, 68, 0.716);
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  box-shadow: 0 5px 8px rgba(19, 18, 18, 0.418);
  font-size: 20px;
  text-align: center;
  line-height: 80px;
  animation: popFromBottom 2s ease-in;
}

@keyframes popFromBottom {
  0% {
    transform: translateY(90px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .header-text {
    font-size: 28px;
  }

  .product-card {
    flex-wrap: wrap;
    text-wrap: wrap;
    width: 50%;
  }

  .product-img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    text-wrap: wrap;
  }

  .product-img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
}
